
h2{
    text-align: center;
    padding-top: 200px;
    color: bisque;
}
h3{
    text-align: center;
    color: bisque;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/abstract-blue-circle-black-background-technology_1142-12714.jpg?semt=ais_hybrid&w=740&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh;
}
.navbar {
    background-color: #4288f0; 
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}
.nav-link {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
}
.nav-link:hover {
    background-color: #6A0DAD;
}
.black-border {
    border: 2px solid black;
    padding: 0;
}
img{
    position: absolute;
    top: 63px;
    right: 0;
    width: 300px;
    height: auto;
}
footer{
    text-align: center;
}

@media only screen and (min-width:400px) and (max-width:800px){

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        width: auto;
    }

    .nav-link{
        display: block;
        width: 250px;
        margin: 5px 0;
    }

    img{
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 285px;
    }
    h2{
        padding-top: 10px;
    }    
}
